@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
body{
    background-color: #131316;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}


.hidden {
    opacity: 0;
    transition: all 5s;
}

.show {
    opacity: 1;
}