{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/bd92ab6d5a.js" crossorigin="anonymous"></script>
    <script defer src="{% static 'js/myscript.js' %}"></script>
    <title>Ono-Gawean</title>
</head>
<body>
    
        <section class="hidden">
            <h1>Ini Header</h1>
            <p>Paragraf</p>
        </section>
        
        <section class="hidden">
            <h2>Ini lebih besar</h2>
            <p>Paragraf</p>
        </section>
        
        <section class="hidden">
            
            <h2>Sama Juga</h2>
            
        </section>

   
    

    
   
    <nav class="sidebar close">
        <header>
            
            <div class="image-text">
                <span class="image">
                    <img src="{%  static 'img/logo.png'  %}" alt="logo">
                </span>
                <div class="text header-text">
                    <span class="topic">Muhammdiyah</span>
                    <span class="teams">Ono-Gawean</span>
                </div>
            </div>
            <i class="fa-sharp fa-solid fa-bars toggle"></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    <button type="submit" class="search-button"><i class='bx bx-search-alt icon' ></i></button>
                    <form method="post" action="{% url 'userInput' %}" class="search-bar">
                      {% csrf_token %}
                        <div>
                            <input class="a"type="text" placeholder="Search.." id="search" name="search">
                        </div>
                    </form>
                </li>
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-home icon'></i>
                            <span class="text nav-text">Home</span>
                        </a>
                    </li>
                </ul>
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class="fa-sharp fa-solid fa-star-and-crescent icon "></i>
                            <span class="text nav-text">Muhammadiyah</span>
                        </a>
                    </li>
                </ul>
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-news icon'></i>
                            <span class="text nav-text">News</span>
                        </a>
                    </li>
                </ul>
                <ul class="menu-links">
                    <li class="nav-link">
                        <a onclick="show_hadist()"href="#">
                            <i class="fa-solid fa-book-quran icon "></i>
                            <span class="text nav-text">Hadist</span>
                        </a>
                    </li>
                </ul>
                <ul class="menu-links">
                    <li class="nav-link">
                        <a onclick="show()"href="#">
                            <i class='bx bx-time-five icon'></i>
                            <span class="text nav-text">Jam Sholat</span>
                        </a>
                    </li>
                </ul>
                <ul class="menu-links">
                    <li class="nav-link">
                        <a onclick="show_about()" href="#">
                            <i class='bx bx-user-circle icon'></i>
                            <span class="text nav-text">About</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-content">
                <li onclick="window.close()" class="">
                    <a href="#">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Exit</span>
                    </a>
                </li>
                
                <li class="mode">
                    <div class="moon-sun">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark Mode</span>
                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>
    <div class="home">
        <header>



        </header>
          <div class="popup" id="popup">
           <div class="top-wrapper">
              <div class="container">
                <div class="content">
                    
                   <h1>Muhammadiyah</h1>
                   <h1>BELAJAR MENJADI LEBIH ISLAMI<h1>
                
                   <p>{{search}}</p>
                   <div>
                    <p for="search">Ketik yang ingin kamu ketahui tentang Muhammadiyah !</p>
                   </div>
                </div>
                  <form method="post" action="{% url 'jamSholat' %}" id="overlay" class="overlay">
                    {% csrf_token %}
                    <button onclick="hide()" type="button"class="jam">Close</button>
                    <button id ="overlay" type="submit" name="jam" value="5" class="jam">Subuh</button>
                    <button id ="overlay" type="submit" name="jam" value="7" class="jam">Dzuhur</button>
                    <button id ="overlay" type="sumbit" name="jam" value="8" class="jam">Ashar</button>
                    <button id ="overlay" type="submit" name="jam" value="9" class="jam">Magrib</button>
                    <button id ="overlay" type="submit" name="jam" value="10" class="jam">Isya</button>
                    <p class="jam-waktu">{{p}}</p>
                  </form>
                  <form method="post" action="{% url 'getHadist' %}" id="overlay2" class="overlay2">
                    {% csrf_token %}
                    <button onclick="hide_hadist()" type="button"class="hadist">Close</button>
                    <button id ="overlay2" type="submit" name="getHadist" class="hadist">Al Bukhari</button>
                    <p class="hadist-output">{{h}}</p>
                  </form>
                  <form onclick="hide_about()"method="post" action="{% url 'getHadist' %}" id="overlay3" class="overlay3">
                    {% csrf_token %}
                        <div class="creator">
                          <h1>Tentang Kami</h1>
                          <ul class="creator1"><br>
                            <P>Fadhil Erdya Qashmal</p>
                            <p>Joko Supriyanto</p>
                            <p>Pandu Adi Wijaya Kusuma Wardana</p>
                            <p>Aditiya Ari Wicaksono</p>
                            <p>Gilang Sri Nayaka</p>
                            <p>Afrizal Putra Pratama</p>
                            <p>Garin Legantoro Adi</p>
                          </ul>
                        </div class="pp">
                        <div class="link">
                          <a href="https://www.instagram.com/lensamu/?hl=en" class="btn signup">
                            <span class='fa fa-instagram'></span>
                            Instagram
                          </a>
                          <a href="https://www.facebook.com/PersyarikatanMuhammadiyah/" class="btn facebook">
                            <span class="fa fa-facebook"></span>
                          Facebook
                          </a>
                          <a href="https://twitter.com/muhammadiyah" class="btn twitter">
                          <span  class="fa fa-twitter"></span>
                          Twitter
                        </a>
                        </div>
                  </body>
                  </form>
                  <form method="post" action="{% url 'getHadist' %}" id="overlay4" class="overlay2">
                    {% csrf_token %}
                    <button onclick="hide_news()" type="button"class="hadist">Close</button>
                    <button id ="overlay4" type="submit" name="getHadist" class="hadist">Al Bukhari</button>
                    <p class="hadist-output">{{h}}</p>
                  </form>
                  <p class="content">{{txt}}</p>      
                </div>
              </div>
            </div>
        </div>
</body>
</html>

