
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;

}

body {
  font-family: "Lucida Grande";
  background-color: black;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}



header {
  height: 65px;
  width: 100%;
  background-color: rgba(33, 220, 33, 0.5);
  position: fixed;
  top: 0;
  z-index:10;
}

.logo {
  width: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hcl li{
  float: left;
  position: relative;
  bottom: 67px;
  background-color: rgba(255, 255, 255, 0.3);
  transition:all 0.5s;
  margin:0 10px;
}
.hcl li {
  float: left;
  padding: 0px 20px;
}

.hcl li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.hcl li a{
line-height: 65px;
padding-left: 25px;
padding-right: 25px;
color: white;
display: block;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.top-wrapper {
    padding: 500px 0 75px 0;
    color: white;
    background-size: cover;
    text-align: center;
    opacity: 0.8;
  }
.content{
  position: relative;
  bottom:250px;
  opacity:1.0;
  
}
.content h1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 45px;
  padding-bottom: 20px;

}  

.content p{
  font-size: 20px;
  border-bottom: 10px;
}
 
.topnav {
  margin: auto;
  width: 30%;
  padding: 1%;
  background-color: transparent;
  background-image: linear-gradient(white);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}


.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.search-bar{
  border-radius: 60px;
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  display: flex;
  padding: 10 px 20 px;
  align-items: center;
  
}
.search-bar input{
  margin: auto;
  background: transparent;
  outline:0;
  outline: none;
  display: fl;
  padding: 24px 20px;
  font-size: 20px;
  color: white;
}
::placeholder{
  color: green;
}
.search-bar button img{
  width: 25px;
}
.search-bar button{
  margin-bottom: 1%;
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: green;
  cursor: pointer;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #2196F3;
  color: white;
}


.topnav input[type=text] {
  text-align: center;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}


