@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;

}

body{
  margin-top: 10px;
}

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --main-color: green;
    --image-color:green ;
    --background-color: #E8E4E4;
    --text-color : #3E3E3E;
    --light-mode : #FFFFFF;
    --light-color : #D8FFdF;
    --overlay-color:#2f2e2e;
    --overlay-text-color : green;
    --footer-color : #aeabab;
    --transition-02: all 0.2s ease;
    --transition-03: all 0.3s ease;
    --transition-04: all 0.4s ease;
    --transition-05: all 0.5s ease;
}

::-webkit-scrollbar{
  width: 14px;
}

::-webkit-scrollbar-track{
  background-color: var(--background-color);
}
::-webkit-scrollbar-corner{
  background-color: var(--light-color);
}
::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
}
::-webkit-scrollbar-thumb:hover{
  background-color: var(--light-color);

}
body{
  transition: 1s;
  height: 100vh;
  background: var(--background-color);
}


body.dark{
  transition:all 1s ease;
  --main-color: #FFFFFF;
  --image-color:transparent ;
  --background-color: #353535;
  --text-color : #ffffff;
  --light-mode : #3a3a3a;
  --light-color : #1d1d1d;
  --overlay-color:#FFFFFF;
  --overlay-text-color : #1d1d1d;
  --footer-color : #686868;
  --transition-02: all 0.2s ease;
  --transition-03: all 0.3s ease;
  --transition-04: all 0.4s ease;
  --transition-05: all 0.5s ease;
}
/*=======  =========*/
.sidebar .text{
    font-size:16px;
    font-weight: 500;
    padding: 5px;
    color: var(--main-color);
  }
  
  .sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
}

/* ======  ======== */
.search-button{
    border: none;
    background: transparent;
    
  }
  .sidebar{
    transition: var(--transition-05);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 290px;
    background: var(--light-mode);
    padding: 10px 14px;
    white-space: nowrap;
    z-index: 100;
}
 
.sidebar.close{
    width: 88px;
}


.sidebar.close .text{
    opacity: 0;
}

.sidebar.close .toggle{
    opacity: 1;
  }
  

  .sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    
}

.sidebar li .icon{
    min-width: 60px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.sidebar li .icon,
.sidebar li .text{
    color: var(--main-color);
    transition: var(--transition-02);
}

.sidebar li .text{
    font-size: 17px;
}
.sidebar header{
    position: relative;
}
.sidebar .image-text img{
    width: 59px;
    border-radius: 6px;
    background-color: var(--image-color);
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
    opacity: 1;

}
.sidebar.close header .image-text{
  opacity: 1;
  
}

header .image-text .header-text{
  display: flex;
    flex-direction: column;
    transition: var(--transition-05);
  }

.header-text .topic{
    font-weight: 600;
}

.header-text .teams{
    margin-top: -2px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    border-radius: 6px;
    right: 1px;
    transform: translateY(-50%);
    height: 58px;
    width: 59px;
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    color: var(--light-mode);
    font-size: 20px;
}

.sidebar .search-box{
    background: var(--light-color);
    border-radius: 6px;
}

.search-box input{
    height: 100%;
    width: 100%;
    background: var(--light-color);
    border: none;
    outline: none;
    border-radius: 6px;
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    transition: var(--transition-04);
 
}

.sidebar li a:hover{
    background: var(--main-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--background-color);
}

.sidebar .menu-bar{
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode{
    position: relative;
    background: var(--light-color);
    border-radius: 5px;
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i{
    position: absolute;
    transition: var(--transition-05);
}


.menu-bar .mode i.sun{
    opacity: 0;
}
body.dark .menu-bar .mode i.sun{
    opacity: 1;
}

body.dark .menu-bar .mode i.moon{
    opacity: 0;
}

.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
}


.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: rgb(234, 233, 233);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--light-mode);
    transition: var(--transition-03);
}

body.dark .switch::before{
    left: 25px;
}

.home{
    position: relative;
    height: 100vh;
    left: 300px;
    width: calc(100% - 300px);
    transition: var(--transition-05);
}

.sidebar.close ~ .home{
    left: 98px;
    width: calc(100% - 98px);
}

.sidebar.close ~ .lesson-wrapper{
  left: 98px;
  width: calc(100% - 98px);
}
/*==================*/

li {
  list-style: none;
}

a {
  text-decoration: none;
}



/* header {
  height: 67px;
  width: 100%;
  background-color: var(--main-color);
  position: fixed;
  z-index:10; */
  


.logo {
  width: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hcl li{
  position: relative;
  bottom: 67px;
  background-color: rgba(255, 255, 255, 0.3);
  transition:all 0.5s;
  float: left;
  width: 15%;
  margin: 0 20px;
  padding: 0px 20px;
}
/* .hcl-left li{
  float: left;
  left: 200px;
  position: relative;
  bottom: 67px;
  background-color: rgba(255, 255, 255, 0.3);
  transition:all 0.5s;
  float: left;
  width: 15%;
  margin: 0 20px;
  padding: 0px 20px;
} */

.hcl li:hover {
  background-color: rgba(97, 249, 9, 0.64);
}
/* .hcl-left li:hover {
  background-color: rgba(97, 249, 9, 0.64);
} */
.hcl li a{
  line-height: 65px;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  display: block;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.top-wrapper {
    padding: 500px 0 75px 0;
    color: white;
    background-size: cover;
    text-align: center;
    opacity: 0.8;
  }
.content{
  position: relative;
  bottom:250px;
  opacity:1.0;
  color: var(--text-color);
}
.content h1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 45px;
  padding-bottom: 20px;

}  

.content p{
  font-size: 20px;
  border-bottom: 10px;
}
 
.topnav {
  margin: auto;
  width: 30%;
  padding: 1%;
  background-color: transparent;
  background-image: linear-gradient(white);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.topnav a {
  float: left;
  display: block;
  color: var(--main-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.search-bar{
  color: var(--text-color);
  
}

/*
.search-bar input{
  margin: auto;
  background: transparent;
  outline:0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: white;
}
::placeholder{
  color: green;
  top: 0;
}
.search-bar button img{
  width: 25px;
  
}
.search-bar button{
  margin-left: 14px;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: green;
  cursor: pointer;
} */

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.top-bar{
  padding: auto;
  height: 65px;
  background-color: transparent;
  color: var(--background-color);
  border: 0;
}
/* .top-bar-left{
  padding: auto;
  left: 20%;
  height: 65px;
  background-color: transparent;
  color: white;
  border: 0;

} */
.topnav input{
  text-align: center;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
.overlay{
  top: 20%;
  position: fixed;
  display: none;
  border-radius: 20px;
  width: calc(100% - 140px);
  height: 50%;
  background: var(--overlay-color);
  padding-top: 1%;
}
.jam{
  padding: 3%;
  margin: 10px;
  color: white;
  height: fit-content;
  background-color: var(--overlay-text-color);
  border: none;
  border-radius: 20px;
  width: 14%;
}
.overlay2{
  top: 20%;
  position: fixed;
  display: none;
  border-radius: 20px;
  width: calc(100% - 140px);
  height: 50%;
  background: var(--overlay-color);
  padding-top: 1%;
  
}
.overlay3{
  top: 20%;
  position: fixed;
  display: none;
  border-radius: 20px;
  width: calc(100% - 140px);
  height: 50%;
  background: var(--overlay-color);
  padding-top: 1%;
}
.top{
  margin: auto;
  top: 20%;
  color: black;
  display: none;
  padding: 10%;
  border-radius: 50px;
  width: 50%;
  height: 30%;
  display: none;
  background-color: rgb(255, 255, 255);
  padding: 10%;
  position:fixed;
}
.overlay4{
  top: 20%;
  position: fixed;
  display: none;
  border-radius: 20px;
  width: 200px;
  height: 50%;
  background: var(--overlay-color);
  padding-top: 1%;
  margin-left: 250px;
}
.hadist{
  padding: 3%;
  margin: 10;
  color: white;
  height: fit-content;
  background-color: var(--overlay-text-color);
  width: 20%;
  border: none;
  border-radius: 50px;
  width: 20%;
}

.jam-waktu{
  padding: 20px;
  color: white;
  margin: 20px;
  border-radius: 50px;
  background-color:var(--overlay-text-color);
}


.contain {
  top: 0;
}


.creator{
  color: var(--background-color);
}
/* .creator li{
  float:left;
  padding: 5px, 10px;
  margin: 20px;
}
.creator{
  padding: 10px, 0px;
}
.creator {
padding: 50px;
}
.creator li{
  padding: 5px, 10px;
  margin: 20px;
} */

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
}

.twitter {
  background-color: #55acee;
}
.link {
  margin: 20px 0;
}

.link p {
  margin: 10px 0;
}

section{
  padding-left: 20px;
  color: var(--text-color);
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}


.hidden {
  opacity: 0;
  transition: all 5s;
  white-space: wrap;
}

.hidden img{
  width: 400px;
  border-radius: 10px;
}

.show {
    opacity: 1;
}


.lesson-wrapper {
  position: relative;
  left: 88px;
  width: calc(100% - 88px);
  transition: var(--transition-05);
  display: none;
  transition: 1s;
  height: 100vh;
  padding-bottom: 80px;
  background-color: var(--background-color);
  text-align:center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: var(--text-color);
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}


.lesson-icon{
  position:relative;

}
.lesson-icon p {
  color:white;
  width:100%;
  position:absolute;
  top:90px;
}


/* .txt-contents {
  border: none;
  transition: var(--transition-03);
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: var(--text-color);
} */

.button-lesson{
  color: var(--text-color);
  border: none;
  background-color: transparent;
  transition: var(--transition-05);
}

.button-lesson:hover{
  padding: 20px;
  color: var(--main-color);
}

.image-lesson{
  background-color: var(--text-color);
  border-radius: 20px;
  transition: var(--transition-04);
  width: 240px;
  height: 240px;
}


.image-lesson:hover{
  padding: 20px;
  background-color: var(--background-color);
}

.pobox{
  white-space: pre-wrap;
}

.ortom-div{
  position: flex;
  display: block;
}

footer{
  margin: 100px;
  width: calc(100% - 120px);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.container-foot{
  margin: auto;
  padding: 20px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  
}

.footer{
  background-color: var(--footer-color);
  padding: 70px 0;
}

.footer-col{
  width: 25%;
  color: var(--background-color);
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 50;
  font-size: 20px;
}
.footer-col h4{
  font-size: 18;
  color: var(--text-color);
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
  transition: var(--transition-03);
}
.footer-col h4::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--main-color);
  height: 2px;
  box-sizing: border-box;
  width: 70px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: var(--text-color);
  font-weight: 500;
  text-decoration: none;
  transition: var(--transition-03)

}
.footer-col ul li a:hover{
  color: var(--background-color);
  padding-left: 10px;
}

.nyai-ahmad{
  display: block;
}