html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Ketik code Anda di bawah */

header {
  height: 65px;
  width: 100%;
  background-color: rgba(50, 205, 50, 0.5);
  position: fixed;
  top: 0;
 z-index:10;
}

.logo {
  width: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hcl li{
  float: left;
  position: relative;
  bottom: 67px;
  background-color: rgba(255, 255, 255, 0.3);
  transition:all 0.5s;
  margin:0 10px;
}
.hcl li {
  float: left;
  padding: 0px 20px;
}

.hcl li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.hcl li a{
line-height: 65px;
padding-left: 25px;
padding-right: 25px;
color: white;
display: block;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.top-wrapper {
    padding: 500px 0 75px 0;
    background-image: url('/home/rattan/Desktop/Ono-Gawean/Tugas Algoritma Pemrograman/Django/Edutorium-UMS-1124_waifu2x_art_noise1_scale.png');
    color: white;
    background-size: cover;
    text-align: center;
    opacity: 0.8;
  }
.content{
  position: relative;
  bottom:250px;
  opacity:1.0;
  
}
.content h1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 45px;
  padding-bottom: 20px;
}  

.content p{
  font-size: 20px;
  border-bottom: 10px;
}
 /* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  text-align: center;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}


